        
  html,
  body,
  header,
  .jarallax {
    height: 700px;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
      height: 100vh;
    }
  }

   @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
      height: 100vh;
    }
  }

  @media (min-width: 560px) and (max-width: 660px) {
    header .jarallax h5 {
      display: none !important;
    }
  }

  .page-footer {
    margin-top: 0px;
    padding-top: 0px;
  }
